name: Deploy PROD & Staging

on:
  push:
    branches:
      - main
      - staging

jobs:
  validate:
    uses: ./.github/workflows/reusable-build-and-test.yml

  deploy:
    runs-on: ubuntu-latest
    needs: validate
    if: github.event_name == 'push'
    permissions:
      id-token: write
      contents: read
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: lambda-package

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Determine stage name
        id: stage
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "STAGE_NAME=prod" >> $GITHUB_ENV
          elif [[ "${{ github.ref }}" == "refs/heads/staging" ]]; then
            echo "STAGE_NAME=staging" >> $GITHUB_ENV
          fi

      - name: Get RDS Secret ARN
        id: get_secret_arn
        run: |
          SECRET_ARN=$(aws secretsmanager describe-secret --secret-id rds-academico-credentials-1 --query 'ARN' --output text --region us-east-1)
          echo "RDS_SECRET_ARN=$SECRET_ARN" >> $GITHUB_ENV

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.x
          terraform_wrapper: false

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Apply
        id: terraform_apply
        run: terraform apply -auto-approve -input=false -var="rds_secret_arn=${{ env.RDS_SECRET_ARN }}" -var="existing_api_gateway_id=${{ secrets.EXISTING_API_GATEWAY_ID }}" -var="lambda_zip_path=../lambda.zip"
        working-directory: terraform