name: Reusable Build and Test

on:
  workflow_call:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r lambda-authorizer/app/requirements.txt
          pip install -r lambda-authorizer/tests/requirements.txt

      - name: Run tests
        working-directory: ./lambda-authorizer
        run: |
          pytest
          
      - name: Set up SAM CLI
        uses: aws-actions/setup-sam@v2
        with:
          use-installer: true

      - name: Build SAM application
        working-directory: ./lambda-authorizer
        run: sam build
